/* * {
    outline: 1px solid red;
  } */

:root{
    --blue: #008CC1;
    --green: #379683;
    --txt_light: white;
    --txt_dark: rgb(40, 40, 40);
    --light: #EDF5E1;
}

body {
    /* Without this there's a margin of 8px on chrome.*/
    margin: 0px;
    padding: 0px;
}

h1, h2, h4 {
    color: #379683;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 32px;
    padding: 5px;
}

h2, h4, h5 {
    margin: 0px;
}

h3, h5 {
    color: #565353;
}

h3, h4 {
    font-size: 14px;
}

h1, h3{
    margin-left: 5px;
}

h5 {
    font-size: 10px;
}

button {
    border-radius: 15px;
    background: #008CC1;
    color: white;
    font-weight: bold;
    border: 1px solid #008CC1;
    padding: 10px;
    margin: 5px;
    width: 33%;
    min-width: max-content;
    white-space: nowrap;
}

.hero_section, .footer {
    background-color: #EDF5E1;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction:row;
    border: 0px;
}

/* img {
    max-width: 100%;
    max-height: 100%;
} */

.hero_column {
    border-radius: 0px;
    max-width: 600px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.header, .featured{
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin: 10px auto;
    max-width: 1100px;
    padding: 0px 10px;
}

.header {
    justify-content: space-between;
    /* padding-left: 5px; */
}

.featured{
    margin-top: -5px;
    justify-content: space-around;
}

.feature_box{
    margin: 12px 12px;
    display: flex;
    flex-direction: column;
}

.feature_box img{
    height: auto;
    width: 100%;
    border-radius: 10px;
}

.user_name {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 5px;
}

.hero_column img {
    border-radius: 100%;
    height: auto;
    width: 100%;
}
